* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625rem;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(246, 246, 246);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-style: oblique;
}

.list-container {
  background-color: white;
  width: 70%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
  font-size: 2rem;
}

.task,
.rmv-completed,
.form {
  padding: 1em;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.list-title {
  display: block;
  position: relative;
}

.list-title .icon-sync {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.form {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(235, 235, 235);
  font-style: italic;
  font-size: inherit;
  letter-spacing: 1.5px;
}

.form:focus {
  outline: none;
}

.form::placeholder {
  opacity: 0.6;
  word-spacing: 1px;
  letter-spacing: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.task-status:checked {
  opacity: 0;
}
.task-status:checked ~ .internal-text {
  color:rgb(166, 166, 166);
  text-decoration: line-through;
}
.task .internal-text {
  margin-right: auto;
  margin-left: 2rem;
}

.task .icon-move {
  padding: 0 0.5em;
  cursor: move;
}

.icon {
  opacity: 0.5;
  font-weight: 400;
}

.rmv-completed {
  background-color: rgb(246, 246, 246);
  text-align: center;
}

.rmv-completed-action:link,
.rmv-completed-action:visited {
  text-decoration: none;
  color: rgb(166, 166, 166);
}

.rmv-completed-action:hover {
  text-decoration: underline;
  color: #000;
}
